<div class="about-container">
  <h2>About the App</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae ab harum voluptatem praesentium! Expedita assumenda soluta voluptatem, ipsam nam earum consequuntur aliquam vero aspernatur laudantium quisquam natus, eos quia.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae ab harum voluptatem praesentium! Expedita assumenda soluta voluptatem, ipsam nam earum consequuntur aliquam vero aspernatur laudantium quisquam natus, eos quia.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt molestiae ab harum voluptatem praesentium! Expedita assumenda soluta voluptatem, ipsam nam earum consequuntur aliquam vero aspernatur laudantium quisquam natus, eos quia.
  </p>
</div>